[Unit]
Description=Parity Ethereum Daemon
After=network.target

[Service]
User=ethereum
Group=ethereum
ExecStart=/usr/local/bin/parity --warp-barrier 7860000 --cache-size=16384 --db-compaction=ssd --no-periodic-snapshot --tracing=off --fat-db=off --pruning=fast

Restart=on-failure
# Specifies which signal to use when killing a service. Defaults to SIGTERM.
# SIGHUP gives parity time to exit cleanly before SIGKILL (default 90s)
KillSignal=SIGHUP

[Install]
WantedBy=multi-user.target
