[Unit]
Description=Electrumx Bitcoin service
After=network.target
Requires=bitcoin.service

[Service]
User=electrumx-bitcoin
Environment=DB_DIRECTORY=/opt/electrumx-bitcoin/.electrumxdb
EnvironmentFile=/opt/electrumx-bitcoin/config
ExecStart=/usr/local/bin/electrumx_server
LimitNOFILE=8192
TimeoutStopSec=30min

[Install]
WantedBy=multi-user.target
